In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data.csv')
array = df.values
df.columns

Index(['Serial number', 'Phone number', 'Location', 'Occupation', 'Qualified',
       'Age', 'Type', 'Clients Attended', 'Minimum wage', 'Aadhar Card',
       'Gender', 'Doorstep Service', 'Morning Available',
       'Afternoon Available', 'Evening Available', 'References'],
      dtype='object')

In [3]:
for i in range(len(df['Evening Available'])):
    if df['Evening Available'][i] != 'Yes' and df['Evening Available'][i] !='No':
        df.loc[i,('Evening Available')]='Yes'
        break
def mapper(label):
    mapping = {l:idx for idx,l in enumerate(np.unique(df[label]))}
    df[label] = df[label].map(mapping)
df.head()

,Serial number,Phone number,Location,Occupation,Qualified,Age,Type,Clients Attended,Minimum wage,Aadhar Card,Gender,Doorstep Service,Morning Available,Afternoon Available,Evening Available,References
0,1,7387135330,Aundh,Painter,No,27,Full time,8,6500,2928-0100-2908,Male,NaN,Yes,Yes,Yes,NaN
1,2,9411704101,Pashan,Cashier,No,26,Part time,5,5000,4676-7076-6790,Female,NaN,Yes,Yes,No,NaN
2,3,9577807763,Chinchwad,Tailor,Yes,24,Part time,3,4500,1149-2297-3182,Female,No,No,Yes,Yes,NaN
3,4,8046615548,Mundhwa,Waitress,No,28,Part time,5,3500,6031-8263-8038,Female,NaN,Yes,Yes,No,NaN
4,5,9617729727,Saswad,Tailor,Yes,27,Full time,12,4000,3463-0567-2922,Male,No,Yes,Yes,Yes,NaN

In [4]:
mapper('Occupation')
mapper('Type')
mapper('Gender')
mapper('Morning Available')
mapper('Location')
mapper('Afternoon Available')
mapper('Evening Available')
mapper('Qualified')
df.fillna(0,inplace=True)
df.loc[df['Doorstep Service']!=0,'Doorstep Service']=1
#mapper('Doorstep Service')

In [5]:

df.drop(['Phone number', 'Serial number','Aadhar Card'],axis=1)

,Location,Occupation,Qualified,Age,Type,Clients Attended,Minimum wage,Gender,Doorstep Service,Morning Available,Afternoon Available,Evening Available,References
0,1,12,0,27,0,8,6500,1,0,1,1,1,0.0
1,31,3,0,26,1,5,5000,0,0,1,1,0,0.0
2,7,17,1,24,1,3,4500,0,1,0,1,1,0.0
3,28,19,0,28,1,5,3500,0,0,1,1,0,0.0
4,36,17,1,27,0,12,4000,1,1,1,1,1,0.0
5,29,0,0,34,1,4,7000,0,0,1,1,0,0.0
6,11,11,0,22,1,9,4500,0,1,1,0,0,0.0
7,2,15,0,20,1,14,4500,0,0,1,1,1,0.0
8,3,17,1,31,0,2,6000,0,1,1,1,0,0.0
9,40,14,0,32,1,9,4500,1,0,1,1,0,0.0
10,17,5,0,19,0,9,5500,1,0,1,1,1,0.0
11,4,14,0,31,1,8,3000,1,0,0,1,1,0.0
12,20,10,0,34,0,10,2000,1,0,1,1,1,0.0
13,11,7,1,23,0,13,5500,1,0,1,1,1,0.0
14,40,8,1,32,1,9,5500,1,0,1,1,0,0.0
15,21,7,1,27,0,6,1000,1,0,1,1,1,0.0
16,15,6,0,33,1,12,5000,1,0,1,0,0,0.0
17,23,3,0,30,1,2,2500,0,0,1,1,0,0.0
18,16,10,0,30,0,10,3500,1,0,1,1,1,0.0
19,20,13,0,29,1,7,7000,1,0,0,1,1,0.0
20,27,11,0,28,1,4,4000,0,1,1,1,1,0.0
21,17,6,0,33,0,14,2500,1,0,1,1,1,0.0
22,31,14,1,30,0,4,3500,0,0,1,1,0,0.0
23,24,16,1,22,1,11,5500,1,0,1,1,0,0.0
24,2,3,1,24,1,4,3500,0,0,1,1,0,0.0
25,7,1,0,24,1,2,1500,1,0,1,0,0,0.0
26,35,0,1,29,0,10,3500,0,0,1,1,1,0.0
27,29,2,1,38,1,5,5000,1,0,0,1,1,0.0
28,20,4,1,31,1,1,4500,0,1,1,0,1,0.0
29,41,0,0,34,0,14,2000,0,0,1,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1570,11,11,0,29,0,15,2000,0,1,1,0,1,0.0
1571,2,20,0,27,0,8,5000,1,0,1,1,1,0.0
1572,41,6,1,38,1,10,6500,1,0,0,1,1,0.0
1573,19,4,1,23,1,3,3500,1,1,0,1,1,0.0
1574,18,14,0,19,0,9,5500,1,0,1,1,1,0.0
1575,10,14,0,25,1,14,7000,0,0,1,1,0,0.0
1576,21,20,0,25,0,9,6000,1,0,1,1,1,0.0
1577,39,17,1,24,1,9,2000,1,1,0,1,1,0.0
1578,39,8,0,32,0,2,3500,1,0,1,1,1,0.0
1579,2,14,0,30,1,2,4500,1,0,0,1,1,0.0
1580,1,0,0,30,1,5,3000,0,0,1,1,0,0.0
1581,35,8,0,27,0,5,4000,1,0,1,1,1,0.0
1582,11,6,0,22,1,12,5000,1,0,0,1,1,0.0
1583,32,19,1,26,0,5,3000,0,0,1,1,1,0.0
1584,19,17,1,30,1,8,5500,0,1,1,1,0,0.0
1585,1,4,0,25,1,2,6500,0,1,1,0,1,0.0
1586,43,8,1,39,1,11,5500,1,0,0,1,1,0.0
1587,7,0,1,25,1,15,6000,1,0,1,1,0,0.0
1588,24,0,0,32,0,12,4500,1,0,1,1,1,0.0
1589,9,20,1,24,1,14,7000,1,0,0,1,1,0.0
1590,29,0,1,30,0,10,4000,0,0,1,1,0,0.0
1591,20,18,0,36,0,7,3500,1,0,1,1,1,0.0
1592,4,14,1,30,1,13,5500,0,0,1,1,0,0.0
1593,6,7,1,38,1,8,4000,1,0,1,1,0,0.0
1594,24,10,0,37,1,6,3500,1,0,0,1,1,0.0
1595,39,10,0,27,0,12,1500,1,0,1,1,1,0.0
1596,6,5,1,35,1,12,3500,1,0,1,1,0,0.0
1597,12,4,0,25,0,15,2000,1,1,1,1,1,0.0
1598,5,9,1,21,1,6,4000,0,1,1,0,1,0.0
1599,31,11,1,26,0,2,1500,0,1,1,1,1,0.0

In [6]:
user_df = pd.read_csv('userrank.csv')
user_df.describe()

,Worker ID,CustomerID1,CustomerID1Rating,CustomerID2Rating,CustomerID3,CustomerID3Rating,CustomerID4,CustomerID4Rating,CustomerID5Rating
count,1.600000e+03,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000
mean,8.546259e+09,497.119375,2.937575,3.034444,489.033125,3.012444,504.576875,3.005644,2.947613
std,8.716446e+08,289.027816,1.187294,1.135379,290.755288,1.142189,288.822929,1.156833,1.167550
min,7.003064e+09,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000
25%,7.786887e+09,250.500000,1.850000,2.060000,227.750000,2.060000,263.500000,2.040000,1.910000
50%,8.566022e+09,498.000000,2.930000,3.080000,486.000000,3.010000,505.500000,3.000000,2.880000
75%,9.319753e+09,742.250000,3.972500,3.980000,741.000000,3.990000,752.000000,3.980000,3.940000
max,9.999990e+09,999.000000,5.000000,5.000000,999.000000,5.000000,998.000000,5.000000,5.000000

In [7]:
user_df.head()

,Worker ID,CustomerID1,CustomerID1Rating,CustomerID2,CustomerID2Rating,CustomerID3,CustomerID3Rating,CustomerID4,CustomerID4Rating,CustomerID5,CustomerID5Rating
0,7387135330,727,2.42,745,4.08,363,1.14,159,4.32,384,1.94
1,9411704101,137,2.61,812,1.68,337,2.46,628,2.40,631,2.32
2,9577807763,168,4.01,635,1.64,312,4.29,794,1.94,543,3.62
3,8046615548,934,3.87,383,4.05,908,1.38,368,2.21,517,1.13
4,9617729727,145,2.56,337,4.52,42,4.97,131,2.27,989,2.43

In [8]:
userIDs = []
def userRating(labelname):
    l = []
    for i in user_df[labelname]:
        #l = list(map(int,user_df[labelname]))
        if user_df[labelname].dtype == 'int64':
            pass
        else:
            l.append(int(i.replace(',','')))
            
    return l

a = set(userRating('CustomerID1'))
b = set(userRating('CustomerID2'))
c = set(userRating('CustomerID3'))
d = set(userRating('CustomerID4'))
e = set(userRating('CustomerID5'))

userIDs.extend(list(a))
userIDs.extend(list(b))
userIDs.extend(list(c))
userIDs.extend(list(d))
userIDs.extend(list(e))

In [9]:
print(userIDs)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 26, 27, 28, 29, 30, 31, 33, 34, 36, 37, 38, 42, 43, 46, 47, 48, 49, 51, 52, 53, 54, 56, 57, 58, 60, 62, 64, 66, 67, 69, 70, 71, 72, 74, 75, 77, 79, 80, 81, 85, 86, 87, 90, 91, 92, 93, 95, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 112, 113, 116, 118, 119, 120, 121, 122, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 142, 143, 144, 145, 147, 149, 152, 153, 154, 155, 157, 158, 160, 161, 162, 163, 164, 168, 169, 170, 171, 173, 175, 176, 180, 181, 182, 183, 184, 185, 187, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 211, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 229, 233, 234, 235, 238, 239, 240, 241, 243, 244, 245, 246, 248, 249, 250, 251, 252, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 276, 277, 278, 280, 281, 282, 283, 284, 285, 287, 288, 290, 291, 292, 293, 294, 295, 297, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 315, 316, 318, 319, 321, 322, 326, 330, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 353, 354, 355, 356, 358, 362, 363, 364, 365, 366, 367, 368, 371, 372, 373, 374, 375, 376, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 407, 408, 409, 410, 411, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 443, 444, 448, 449, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 462, 464, 465, 466, 467, 470, 471, 472, 474, 475, 476, 479, 480, 481, 484, 485, 486, 490, 491, 492, 493, 495, 496, 497, 498, 499, 501, 502, 503, 504, 507, 509, 510, 511, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 540, 543, 544, 545, 546, 547, 548, 549, 550, 551, 553, 554, 556, 557, 558, 559, 561, 562, 563, 564, 565, 566, 568, 569, 571, 574, 575, 576, 579, 580, 582, 583, 585, 586, 588, 590, 591, 592, 593, 595, 598, 599, 600, 604, 605, 606, 607, 608, 609, 611, 612, 613, 614, 615, 616, 617, 619, 620, 621, 622, 624, 625, 626, 627, 629, 631, 633, 634, 635, 636, 637, 639, 640, 641, 643, 644, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 658, 659, 660, 661, 662, 663, 664, 665, 666, 668, 669, 671, 672, 673, 674, 675, 676, 677, 679, 680, 682, 683, 684, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 699, 700, 701, 702, 703, 704, 705, 706, 708, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 722, 723, 724, 725, 727, 728, 730, 731, 732, 733, 734, 736, 737, 738, 739, 740, 742, 743, 744, 745, 746, 747, 748, 749, 751, 752, 753, 755, 756, 757, 758, 759, 761, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 778, 779, 780, 782, 783, 784, 785, 786, 787, 789, 791, 792, 793, 794, 795, 797, 798, 800, 801, 802, 803, 805, 806, 807, 808, 809, 811, 812, 814, 815, 817, 818, 819, 821, 822, 824, 825, 826, 827, 830, 831, 832, 833, 834, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 859, 862, 863, 864, 865, 868, 869, 871, 872, 873, 874, 875, 876, 878, 880, 882, 883, 884, 885, 887, 888, 889, 890, 891, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 928, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 951, 952, 953, 956, 957, 958, 959, 960, 961, 962, 963, 964, 966, 967, 968, 969, 970, 971, 972, 973, 975, 977, 978, 979, 980, 981, 982, 984, 985, 986, 987, 988, 989, 991, 993, 995, 996, 997, 998, 999, 1000, 1, 3, 8, 9, 10, 11, 12, 13, 14, 15, 19, 21, 22, 24, 25, 26, 27, 28, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 50, 51, 52, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 68, 69, 71, 73, 74, 75, 77, 78, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100, 102, 103, 104, 105, 106, 108, 109, 110, 111, 112, 113, 115, 116, 117, 118, 119, 121, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 138, 139, 143, 145, 146, 147, 148, 149, 151, 152, 153, 154, 155, 156, 157, 159, 160, 161, 162, 163, 165, 166, 168, 169, 170, 171, 173, 174, 175, 176, 177, 178, 179, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 194, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 213, 214, 215, 216, 217, 221, 222, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 239, 240, 241, 242, 244, 245, 246, 250, 251, 252, 253, 254, 256, 257, 258, 259, 260, 261, 263, 264, 265, 267, 268, 269, 270, 271, 273, 274, 275, 276, 278, 280, 281, 283, 284, 286, 289, 291, 292, 293, 295, 296, 297, 298, 299, 302, 306, 308, 309, 310, 311, 313, 314, 315, 316, 317, 318, 319, 320, 321, 323, 324, 326, 327, 329, 330, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 346, 347, 348, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 362, 363, 364, 365, 366, 367, 368, 369, 370, 374, 375, 376, 377, 378, 380, 381, 383, 384, 385, 387, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 411, 412, 413, 414, 415, 416, 417, 418, 419, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 434, 435, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 450, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 464, 465, 467, 468, 470, 471, 472, 473, 476, 477, 478, 479, 480, 481, 482, 485, 486, 487, 488, 489, 491, 492, 493, 494, 496, 497, 498, 499, 500, 502, 503, 504, 505, 506, 508, 510, 512, 514, 516, 517, 518, 519, 520, 523, 524, 526, 527, 528, 529, 531, 532, 533, 534, 537, 540, 541, 542, 543, 545, 546, 547, 548, 550, 551, 552, 553, 554, 555, 556, 559, 561, 562, 563, 564, 565, 566, 568, 569, 570, 571, 572, 573, 574, 575, 577, 578, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 592, 593, 594, 595, 596, 598, 599, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 613, 614, 615, 616, 617, 618, 619, 620, 621, 623, 624, 625, 626, 627, 629, 630, 631, 632, 633, 634, 635, 637, 638, 640, 641, 642, 643, 644, 646, 647, 648, 650, 651, 652, 653, 655, 656, 658, 659, 660, 661, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 675, 676, 677, 678, 679, 680, 681, 682, 683, 685, 689, 690, 691, 692, 693, 694, 696, 697, 699, 700, 701, 702, 703, 704, 705, 707, 711, 712, 714, 715, 717, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 735, 736, 737, 738, 739, 740, 741, 743, 745, 746, 747, 748, 749, 750, 752, 754, 755, 756, 758, 759, 760, 761, 763, 765, 766, 769, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 784, 785, 786, 787, 788, 789, 790, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 812, 813, 814, 815, 816, 817, 819, 820, 821, 822, 823, 824, 825, 827, 828, 829, 830, 832, 834, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 854, 855, 857, 858, 859, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 873, 874, 875, 876, 877, 878, 880, 881, 883, 887, 889, 892, 893, 894, 895, 897, 901, 902, 903, 904, 905, 906, 907, 908, 910, 911, 912, 913, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 944, 945, 946, 947, 948, 949, 950, 951, 953, 954, 955, 956, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 970, 971, 972, 974, 975, 976, 979, 980, 981, 982, 984, 986, 987, 988, 989, 990, 991, 993, 996, 997, 999, 1000]